################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/NoVoid/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
